*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    background: #ffffff;    
}

.LandingPage-parent{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.parent-text-btn{
    /* display: flex; */
    /* border: 1px solid green; */
    /* width: 100vw; */

}

.h1-tag{
    position: absolute;
    margin-top: 200px;
    margin-left: 60px;
    width: 594px;
    height: 154px;
    color: #4290C9;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 119.7%;
}

.p-tag{
    position: absolute;
    margin-top: 390px;
    margin-left: 60px;
    width: 446px;
    height: 58px;
    color: #4290C9;;
    word-wrap: wrap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180.4%;
}

.landPage-content{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}


.doctors-img{
    position: relative;
    right: -16%;
   
}

.arrow {
    margin-left: 5px;
}


/* @media (min-width: 320px) and (max-width: 480px) {
  
    .doctors-img{
        position: relative;
        right: 1%;
        top: 1%;
       
    }
    
} */
