#home-team-con {
    width:100%;
    height: 500px;
    background-image: url("https://res.cloudinary.com/healthie/image/upload/v1573230064/healthie/healthie-team_qgce3k.svg")
}

#home-team-con p {
    text-align: center;
    font-family: normal;
    font-style: normal;
    padding-top:5%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.7%;
}