*{
    padding: 0px;
    margin: 0px;
}

.container-fluid{
    border: 2px solid red;
    padding: 0px;
    margin: 50px auto;
    max-width: 80%;
}

.titleCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    /* position: relative; */
    display: -ms-flexbox;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: none;
}


.card> div{
    width: 450px;
    text-align: left;
}

.card > div :nth-child(5){
    width: 950px;
}

.address{
    display: flex;
    justify-content: flex-start;
}