

#cards-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cards-wrapper > .card{
    width: 140px;
    margin: 15px 35px 30px 35px;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}


#cards-wrapper > .card > h3{
    color: #4290c9;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Serif';
}

#cards-wrapper > .card > img{
    padding: 30px 0px 40px 0px;
}