#fdoc-navWrapper{
    padding: 1em;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.fdoc-logo{
    flex: 1;
    align-self: center;
}


#fdoc-logo{
    margin-left: 15%;
}

.fdoc-navigation{
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: flex-end;
    top: 27px;
    margin-right: 2%;
    align-items: center;
}

.fdoc-navigation >a{
    color: white;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
    line-height: 22px;
    font-family: 'Noto Sans';
}

.fdoc-navigation >a:hover{
    text-decoration: none;
    background-color: white;
    color:  #4290C9;
    border-radius: 3px;
}

i{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 22px;
}

