#searchedDoctorsContainer{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    background: linear-gradient(180deg, rgba(68, 199, 191, 0.2) 0%, #4e9ed8 100%), url("../../assets/image8.png");
    opacity: 0.7;
}


#navWrapper{
    padding: 1em;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    background-color: white;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.fdoc-logo{
    flex: 1;
    align-self: center;
}


#fdoc-logo{
    margin-left: 15%;
}

.fdoc-navigation{
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: flex-end;
    top: 27px;
    margin-right: 5%;
    align-items: center;
}

.fdoc-navigation >a{
    color: white;
    font-size: 15px;
    /* padding-left: 20px;
    padding-right: 20px; */
    font-weight: normal;
    line-height: 22px;
    font-family: 'Noto Sans';
    background-color: #4290C9;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;

}

.fdoc-navigation >a:hover{
    text-decoration: none;
    background-color: #4290C9;
    color:  white;
    border-radius: 3px;
}

i{
    color: #4290C9;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 22px;
    margin-right: 10px;
}


#relatedSearch{
    width: 50%;
    z-index: 1;
    float: right;
    height: calc(100vh - 80px);
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

}

#relatedSearch > #searchBox{
    width: 62%;
    height: min-content;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    /* justify-content: space-between; */
   
}

#relatedSearch > #searchBox > input{
    height: 40px;
    width: 70%;
    padding-left: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    align-self: center;
    border: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-color: transparent;
}


#relatedSearch > #searchBox > i{

    background: #FFFFFF;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-left-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 0px;
    height: 100%;
    padding-top: 10px;
    border-width: 1px 1px 1px 0;
}

#relatedSearch > #result-container {
    /* position: relative; */
    width: max-content;
    /* border: 1px solid black; */
    height: max-content;
    padding: 10px;
    
}

#relatedSearch > #result-container > h1{
    margin-top: 30px;
    /* margin-left: -100%; */
    font-size: 24px;
    color: #4290C9;
    font-weight: bold;
}

#resultData{
    height: min-content;
    width: max-content;
    /* border: 1px solid blue; */
    display: flex;
    padding: 10px;

}

#details{
    /* border: 1px solid blue; */
    height: max-content;
    width: max-content;
    padding: 10px;

}

#details > h1{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 119%;
    color: #000000;
}

#details > h2{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
#details >h3{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 119%;
    color: #000000;
}

#details >h4{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 119%;
    color: #000000;
}

#details >a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #4290C9;
}

#star > img{
    padding: 5px;
}