#homeMain-con{
    height:100vh;
    background:linear-gradient(180deg, rgba(68, 199, 191, 0.1) 0%,#35444E 100%), url(../../../assets/homebackground.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
} 
#home-intro{
    margin-top: 5%;
    text-align:center;
    color:white;
    font-weight:bold; 
    font-family:'Noto Serif', serif;
    font-size:36px;
    line-height:80.7%;
}
