* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.Login-h1-tag {
    position: relative;
    width: 509px;
    height: 146px;
    font-family: Noto Serif;
    font-size: 48px;
    /* line-height: 152.5%; */
    color: #FFFFFF;
    top: 280px;
    left: 90px;
}

.LoginPage-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: absolute;
    background: linear-gradient(180deg, rgba(68, 199, 191, 0.1) 0%, #35444E 100%), url(https://res.cloudinary.com/healthie/image/upload/v1573230089/healthie/Login-page-Img_gcttby.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.login-form-body {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/100%;
    justify-items: center;
    background-color: white;
    width: 31%;
    height: 90%;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.login-P {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 152.5%;
    color: #4290C9;
    text-align: center;
}

.error-message {
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    background: #FEFEFE;
    border: 1px solid #B4BEC6;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    color: red;
}

.error-message>p {
    margin: 5px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.login-P>p {
    margin: 0 !important;
}

.btn1 {
    background: #4290C9;
    color: #FFFFFF;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border: none;
}

.btn2-con {
    width: 80%;
    margin: 0 auto;
}

.btn2 {
    background: #FFFFFF;
    color: #4290C9;
    height: 50px;
    width: 100%;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border: solid 1px;
}

.login-Email-form-control {
    background-image: url('https://res.cloudinary.com/healthie/image/upload/v1573230078/healthie/mail_pgj752.png');
    background-position: 10px 11px;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
}
.login-Email-form-control::placeholder{
    
    padding-left:10%;
}
.login-password-form-control::placeholder{
     padding-left:10%;
}
.login-password-form-control {
    background-image: url('https://res.cloudinary.com/healthie/image/upload/v1573230073/healthie/lock_xtyyas.png');
    background-position: 10px 11px;
    background-repeat: no-repeat;
    padding-top: 0px;
    width: 100%;
    height: 50px;
}

.login-input-container {
    width: 80%;
}

.login-form-label {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #4290C9;
}

@media screen and (max-width: 992px) {
    .login-form-body {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .login-form-body {
        width: 95%;
    }
}