 #bookDoc-con {
    display: grid;
    grid-template: 10% 90%/1fr;
    height: 100vh;
} 
#bookdoc-child-con{
    display:flex;
    width:100%;
}
 /* #parent-con{
     flex-wrap: wrap; 
    width: 100%;
     justify-content: space-around; 
    align-items: center;
    border: 2px solid red;
}  */

/* #image-con{
    width: 745px;
} */

/* #bookDoc-form-con {
    display: flex;
} */

/* #bookDoc-intro-pic {
    height: 100vh;
    width: 50%;

} */

.Book-Doc-profile-pic{
    width:100%;
    display: inline-block;
    height: 100%;
}

#bookDoc-form {
    height: 100%;
    width: 50%;
    display: inline-block;
    text-align: center;
    justify-items: center;
    margin: 10px;
}
#bookDoc-doc-info{
    display:flex;
    align-items: center;
    width:80%;
    margin:0 auto;
}
#bookDoc-doc-info img{
   width: 74px;
   height:74px;
   border-radius:50%;
}
#bookDoc-doc-info  p{
    font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 140.7%;
color: #35444E;
}

#bookDoc-input-hospital {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: #FEFEFE;
    border: 1px solid #B4BEC6;
    border-radius: 4px;
    height: 50px;
}

#bookDoc-input-hospital input {
    float: left;
    border: none;
    width: 100%;
    outline: none;
}

#bookDoc-input-hospital img {
    float: right;
    padding-right: 15px;
}

#bookDoc-input-schedule-con {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#bookDoc-input-schedule-con div {
    display: flex;
    align-items: center;
    width: 50%;
    background: #FEFEFE;
    border: 1px solid #B4BEC6;
    border-radius: 4px;
    height: 50px;
    margin-top: 25px;
}

#bookDoc-input-date {
    margin-right: 15px;
}

#bookDoc-input-time {
   
}

#bookDoc-input-date img {
    float: right;
}

#bookDoc-input-time img {
    float: right;
}

#bookDoc-input-date input {
    border: none;
    outline: none;
    width: 80%;
}

#bookDoc-input-time input {
    border: none;
    outline: none;
    width: 80%;
    margin-left: 20px;
}

::placeholder {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 154.4%;
    color: #35444E;
    padding-left:15px;
}

#bookDoc-input-visit-ques {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: #FEFEFE;
    border: 1px solid #B4BEC6;
    border-radius: 4px;
    height: 50px;
    margin-top: 25px;
}

#bookDoc-input-visit-ques input {
    width: 70%;
    margin-right: 50px;
    border: none;
    outline: none;
}

#bookDoc-input-button1 {
    background: #4290C9;
    border: 2px solid #4290C9;
}

#bookDoc-input-button2 {
    background: #E0E0E0;
    border: 2px solid #E0E0E0;
}

#bookDoc-input-name {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: #FEFEFE;
    border: 1px solid #B4BEC6;
    border-radius: 4px;
    height: 50px;
    margin-top: 25px;
}

#bookDoc-input-name input {
    width: 70%;
    margin-right: 50px;
    border: none;
    outline: none;
}

#bookDoc-input-phone-con {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: #FEFEFE;
    height: 50px;
    margin-top: 25px;
}

#bookDoc-input-code {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid #B4BEC6;
    border-radius: 4px;
    height: 50px;
}

#bookDoc-input-code input {
    border: none;
    outline: none;
}

#bookDoc-input-phone {
    display: flex;
    align-items: center;
    height: 50px;
    width: 60%;
    border: 1px solid #B4BEC6;
    border-radius: 4px;
}

#bookDoc-input-phone input {
    border: none;
    outline: none;
}

#bookDoc-input-email {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 80%;
    border: 1px solid #B4BEC6;
    border-radius: 4px;
}

#bookDoc-input-email input {
    border: none;
    outline: none;
}

#bookDoc-form-Submit {
    margin-top: 25px;
    width: 80%;
    height: 50px;
    background: #4290C9;
    border: 2px solid #4290C9;
    border-radius: 4px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color:#fff;
}