*{
    padding: 0px;
    margin: 0px;
}

.landing-Navbody{
    height: 100%;
    display: flex;
    padding: 10px;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
    height: 74px;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.Logo{
    padding-left: 100px;
    padding-top: 10px;
}

.spacer{
    display: flex;
    flex: 1;
}

.navitems{
    display: flex;
}

.navitems > div{
    color: #4290C9;
    margin: 0px 29px;
    padding: 8px 0px;
    cursor:pointer;
}

.nav-btn{
    padding: 5px 18px;
    border-radius: 4px;
    margin: 5px;
    color: #4290C9;
    border: 1px solid #4290c9;
    /* z-index: 1; */
    
}

.nav-btn1{
    margin-right: 26px;
    background-color: transparent;
}

.nav-btn2{
    background-color: #4290C9;
    color: #FFFFFF;
}

.Navbtn-group{
    padding-right: 20px;
}


@media (min-width: 320px) and (max-width: 480px) {
  
    
    
  }