html {
  scroll-behavior: smooth;
}

/* ------------------------------------- */
/*             Header                    */
/* ------------------------------------- */

header {
  position: fixed;
  top: 0;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  z-index: 5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-home {
  position: absolute;
  background: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

header ul li {
  color: #4290c9;
  margin: 0 20px;
  text-decoration: none;
}

.dashboard-header-button {
  background: #4290c9;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 0;
}

.dashboard-header-button2 {
  background: #ffffff;
  color: #4290c9;
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 0;
  border: 1px solid #4290c9;
  text-decoration: none;
}
