#userSettings{
    /* border: 1px solid black; */
    height: calc(100vh - 80px);
    width: calc(100vw - 20vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: #f8f8f8f8;
}

#container{
    display: flex;

}


#settingWrapper{
    height: max-content;
    width: 70%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: scroll; */
}

#top{
    /* border: 1px solid black; */
    width: 80%;
    height: max-content;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140.7%;
    color: #35444E;
}

#saveSetting{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140.7%;
    color: #4290C9;
}

label{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140.7%;
    color: #35444E;
}
form{
    width: 80%;
    height: max-content;
}

#roww{
        /* border: 1px solid black; */
        width: 100%;
        height: max-content;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
}