#home-footer-con-wrapper {
    display: grid;
    margin-top: 5%;
    width:100%;
}

.home-footer-text-con {
    display: flex;
    width: 87%;
    justify-self: center;
    justify-items: stretch;
}

.home-footer-text-con div {
    width: 33.33%;
}

#home-footer-about {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.7%;
    color: #35444E;
}

.home-footer-texts {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 154.4%;
    color: #35444E;
}
#home-recent-blog{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.7%;
    color: #35444E;
}

#footer-contact {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.7%;
    color: #35444E;
}

